html,
body {
  height: 100%;
}
body {
  overflow: hidden;
  margin: 0;
}
canvas {
  width: 100%;
  height: 100%;
}
div#main{
  width: 600px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 1.6rem;
  border: 1px solid rgb(5, 51, 73);
  border-radius: 8px;
  color: white;
}